<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.uqac.informatiquemobile.epicerie">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <activity android:name=".activity.MainMenu"
            android:label="Epicerie"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            ></activity>

        <activity
            android:name=".activity.ingredient.ListFrigoActivity"
            android:label="Mes provisions"
            android:theme="@style/Frigo"
            android:icon="@mipmap/fridge">

        </activity>

        <activity
            android:name=".activity.ingredient.CreateIngredientActivity"
            android:label="Ajouter un ingredient"
            android:theme="@style/AppTheme.NoActionBar"
            ></activity>
        
        <activity android:name=".activity.courses.ListeCourses"
            android:screenOrientation="portrait"></activity>
        <activity android:name=".activity.recette.CreateRecetteActivity"></activity>
        <activity android:name=".activity.ingredient.AddIngredientActivity"></activity>
        <activity android:name=".activity.recette.ListRecettesActivity"
            android:label="Mes recettes"
            android:theme="@style/Recettes"
            android:icon="@mipmap/pizza"></activity>
        <activity android:name=".activity.recette.RechercheActivity"></activity>
        <activity android:name=".activity.recette.AfficherRecetteRecherche"></activity>
        <activity android:name=".activity.recette.DetailedRecetteActivity"

            android:theme="@style/AppTheme.NoActionBar">

        </activity>
        <activity android:name=".activity.calendrier.PlanifierRepasActivity"></activity>
        <activity android:name=".activity.recette.SelectRecetteActivity"></activity>
        <activity android:name=".activity.calendrier.RepasPlanifiesActivity"></activity>
        <activity
            android:name=".activity.recette.ModifyRecetteActivity"
            android:label="Modifier une recette">

        </activity>

        <service android:enabled="true" android:name=".service.DateRecetteService" />


    </application>

</manifest>
